.lista {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.subtitulo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  color: #5a5a5a;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

body {
background-color: bisque;
background-image: repeating-linear-gradient(
  to bottom,
  transparent,
  transparent 29px,
  #afabab 30px
);
font-family: Arial, Helvetica, sans-serif;
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, 
button {
    padding: 10px;
    font-size: 1rem;
}

@keyframes pegar {
  0% { transform: scale(0.9) rotate(-10deg); opacity: 0; }
  100% { transform: rotate(-1.5deg); opacity: 1; }
}

.tarjeta {
    background-color: #fffc7f;
    color: #333;
    font-family: 'Comic Sans MS', cursive;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2),
    inset -4px -4px 8px rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 200px;
    height: 220 px;
    transform: rotate(-2deg);
    animation: pegar 0.4s ease-out;
    position: relative;
}

.tarjeta::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.confirmada {
  background-color: #d4f7c5;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.3);
  transform: rotate(0deg);
}

.check-confirmacion {
  margin-top: 10px;
  cursor: pointer;
  transform: scale(1.1);
}

.tachado {
  text-decoration: line-through;
  color: gray;
}